@media screen and (max-width: 500px) {
    #landing-div {
        font-size: 1.5rem;
    }
    #input {
        width: 50vw;
    }
    #nav {
        max-width: 501px;
        width: 100%;
    }
}

@media all and (min-width: 501px) {
    #landing-div {
        font-size: 2rem;
    }
    #input {
        width: auto;
        height: auto;
    }
    #nav {
        width: 100%;
     }
}

h1, h2 {
    font-family: Milkshake, sans-serif;
    color: white;
    text-shadow: black 2px 2px;
}

h2 {
    padding: 0;
    margin: 0;
}

p, #nav, h3 {
    font-family: Adobe Caslon Pro, serif;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

#home-button {
    margin-left: 10px;
    font-size: 24px;
    cursor: pointer;
}

#home-button:hover {
    color: #346CC1;
    transition-duration: 0.5s;
}

#nav {
    position: fixed;
    width: 100%;
    height: 30px;
    float: right;
    margin: 0 0 3em 0;
    padding: 0;
    list-style: none;
    background-color: black;
    z-index: 2;
    text-align: right;
    display: flex;
}

#nav-btn {
    right: 0;
    position: absolute;
}

.nav-link {
    padding: 0 10px;
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.nav-link:hover{
    color: #777777;
    text-decoration: none;
    transition-duration: 0.5s;
}

.bg {
    min-width: 100%;
    min-height: 100%;

    width: 100%;
    height: auto;

    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
}

#bg-color {
    background-image: linear-gradient(#0047FF, #8270FF, #FF9BCA);
}

#bg-img {
    z-index: -3;
}

#bg-overlay {
    background-image: linear-gradient(rgba(0,0,0, 0.1), rgba(0, 0, 0, 0.7));
}

.footer {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

#photo-location {
    color: white;
    padding: 0;
}

#landing {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#landing-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    text-align: center;
}

.content-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.content {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    line-height: 30px;
    padding: 0;
    margin: 10px;
    border-radius: 5px;
}

#fill-out-button {
    height: 40px;
    width: 170px;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

#fill-out-button hover {
    background-color: #0E3887;
}

.submit-button {
    height: 40px;
    width: 170px;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 5px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    cursor: pointer;
    font-size: 12px;
}

#input {
    padding: 20px;
    line-height: 40px;
}

#input-title {
    padding: 5px;
}

.number-input {
    width: 25px;
}

#model-desc {
    padding: 40px;
    width: 400px;
    margin: 10px;
}

#model-outer {
    position: absolute;
    top: 110%;
    width: 100%;
    height: 100%;
    z-index: -1;
}

about {
    top: 40%;
}

#about-outer {
    position: absolute;
    top: 210%;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.results {
    transition-duration: 0.5s;
}